<!-- placeholder -->
<ul>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('sortie_index') }}"
           title="Accueil">
            Accueil
        </a>
    </li>
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}"
               title="Logout">
                Logout
            </a>
        </li>
        <li>Mon compte</li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link"  href="{{ path('app_login') }}"
               title="Login">
                Login
            </a>
        </li>
    {% endif %}
    <li>Administration</li>
</ul>